  <div id = "home" class = "container">
  
  <div class = "row">
  
  <div class = "col-lg-2 col-md-3 col-sm-3">
  
      <div class ="avatar"></div>
      
  </div>
  
  <div style = "margin-top:50px;" class = "col-lg-10 col-md-9 col-sm-9">
  <h2>Hi! My name is Tarik. And I'm a...</h2>
  </div>
  
  
  </div>
  
  <div class = "row expand">
  
  	  <div class = "container">

	  <div class = "jumbotron">
	  
	  <h1>Software developer.</h1>

	 </div>

	</div>
  
  </div>
  
  <div class = "row">
  
  <div style = "margin-top:30px;" class = "col-lg-4 col-md-4 col-sm-4">
         <a href = "https://www.facebook.com/ernestina.ramic.1" target = "_blank" class="btn btn-block btn-social btn-facebook">
        <i class="fa fa-facebook"></i> Follow me on FACEBOOK
      </a>
  </div>
  
  <div style = "margin-top:30px;" class = "col-lg-4 col-md-4 col-sm-4">
      <a href = "https://ba.linkedin.com/in/tarik-palić-635b3696" target = "_blank" class="btn btn-block btn-social btn-linkedin">
        <i class="fa fa-linkedin"></i> Follow me on LINKEDIN
      </a>
  </div>
  
    <div style = "margin-top:30px;" class = "col-lg-4 col-md-4 col-sm-4">
      <a href = "https://plus.google.com/u/0/104517511816289228850" target = "_blank" class="btn btn-block btn-social btn-google-plus">
        <i class="fa fa-google-plus"></i> Follow me on GOOGLE
      </a>
  </div>
  
  </div>
  
  </div>